*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
.image,
.header {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.wrapper {
  width: 90vw;
}

.card {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 90%;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 250ms;
  margin: 0 auto 2rem auto;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  padding: 1rem 1.5rem;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card .back {
  padding: 1rem;
}

.card .front {
  left: 0;
}

.card .back {
  transform: rotateY(180deg);
}

.header h1 {
  margin: 1rem 0;
}

.question img {
  width: 90%;
  height: 90%;
  margin-bottom: 1rem;
}

.question p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.answerUser {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.answerUser input[type="text"] {
  border-bottom: 1px solid lightgray;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.myButton {
  transform: translateY(-11px);
  margin-left: 1em;
  width: 34px;
  height: 30px;
  border: 1px solid #18ab29;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #44c767;
  cursor: pointer;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.answerSystem p {
  text-align: center;
  font-size: 1rem;
}

.green {
  color: green;
}

.red {
  color: red;
}

.answerPlaceholder {
  height: 3rem;
}
h4 {
  margin-top: 6rem;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

@media (min-width: 400px) {
  .wrapper {
    width: 500px;
  }

  h4 {
    display: none;
  }
}
